---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import type { MDXLayoutProps } from "astro";
import type { Frontmatter } from "../lib/mdx";
type Props = MDXLayoutProps<Frontmatter>;
const props = Astro.props;
const vertical = props.frontmatter.vertical;
---

<Layout
  title={`${props.frontmatter.title} - berlysia.net/blog`}
  description={props.frontmatter.description}
  vertical={vertical}
>
  <Header title={props.frontmatter.title} vertical={vertical}
    ><a href="/blog">berlysia.net/blog</a>
  </Header>
  <div
    class:list={[
      "tw-w-full tw-flex tw-justify-center",
      {
        "sm:tw-h-auto tw-h-[calc(100vh-2.5rem)] tw-h-[calc(100svh-2.5rem)]":
          vertical,
      },
    ]}
  >
    <div class="tw-w-full tw-relative tw-max-w-screen-lg">
      <article
        class:list={[
          "tw-px-2",
          {
            "sm:tw-writing-vertical-rl sm:tw-w-full sm:tw-overflow-x-visible sm:tw-columns-sm sm:tw-gap-8":
              vertical,
            "tw-writing-vertical-rl tw-w-full tw-overflow-x-scroll tw-h-full tw-py-4 tw-line-break-strict":
              vertical,
          },
        ]}
      >
        <div>
          <h1 class="tw-text-4xl tw-font-bold tw-mt-4">
            {props.frontmatter.title}
          </h1>
          {
            props.frontmatter.description && (
              <aside class="tw-text-sm tw-text-gray-500 tw-mb-2">
                {props.frontmatter.description}
              </aside>
            )
          }
          {
            props.frontmatter.tags && (
              <ul class="tw-flex tw-flex-row tw-gap-1 tw-mx-1">
                {props.frontmatter.tags.split(",").map((x) => (
                  <li class="tw-px-1 tw-border tw-border-keyColor-100 tw-rounded-md">
                    {x}
                  </li>
                ))}
              </ul>
            )
          }
        </div>
        <div class="tw-flex tw-justify-center tw-my-6">
          <hr class="tw-w-40 tw-border-0 slash" />
        </div>
        <section class="main-text-section">
          <slot />
        </section>
      </article>
    </div>
  </div>
</Layout>
